.contato ul {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contato ul li {
  list-style: none;
  color: #212529;
  font-family: 'Montserrat';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.contato ul li button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.contato ul li button:hover {
    transform: scale(1.2);
}

.contato ul img {
  cursor: pointer;
}

.contato .avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
}